<div class="container my-5">
    <form class="form-group my-5" action="Search" method="post">
        <input class="rounded" type="text" placeholder="Search.." >
        <button class="rounded" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>