<div class="container row mx-auto mt-5">
    <form class="form-group" action="Search" method="post">
        <input class="rounded" type="text" placeholder="Search.." >
        <button class="rounded" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>